.contact {
  h2 {
    font-size: 2.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input,
    textarea {
      padding: 10px;
      font-size: 1.2rem;
      border: 1px solid #ccc;
    }

    button {
      padding: 10px 20px;
      font-size: 1.2rem;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
